@charset "UTF-8";

@font-face {
    font-family: nightstalker;
    src: url('night_stalker_2/Night\ Stalker\ Free.otf') format('opentype'), url('night_stalker_2/Night\ Stalker\ Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

    /*
    Tipos de format()
        opentype(otf)
        truetype(ttf)
        embedded-opentype()
        truetype-aat(apple advanced typography)
    */
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-family: 'nightstalker', Times, serif;
    font-size: 5em;
    font-weight: normal;
}